<h1>Rental Cars</h1>
<p>Bem vindo ao sistema de gestão de locações</p>

<p><%= link_to 'Fabricantes', manufacturers_path %></p>
<p><%= link_to 'Filiais', subsidiaries_path %></p>
<p><%= link_to 'Categoria', car_categories_path %></p>
<p><%= link_to 'Modelo de Carros', car_models_path %></p>


