<% @manufacturers.each do |manufacturer| %>
   <% manufacturer.car_models.each do |car_model| %>
        <p>
        <%= link_to car_model.name %> 
        </p>
    <% end %>

#    fiat = Manufacturer.find_by(name: 'Fiat')
#volks = Manufacturer.find_by(name: 'Volks')
#CarModel.where(manufacturer: [fiat, volks])


